{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block body %}

	<section id="login">

		<div class="box-login">

			<form method="post">

				<h1 class="mb-3 is-size-1 is-size-3-mobile has-text-centered">
					<i class="far fa-clock"></i>
					Date<span class="fontGrey">s</span>
					courte<span class="fontGrey">s</span>
				</h1>

				<div class="columns is-mobile my-5 ">
					{% for message in app.flashes('notice') %}
						<div class="flash-notice column is-10 is-offset-1 py-4 is-size-6-mobile is-size-5 has-text-centered">
							{{ message }}
						</div>
					{% endfor %}
				</div>

				<div class="mt-6 has-text-centered">
					<label for="inputEmail"></label>
					<input type="email" value="{{ last_username }}" name="email" id="inputEmail" placeholder="Email" required autofocus>
				</div>
				<div class="mt-5 mb-4 has-text-centered">
					<label for="inputPassword"></label>
					<input type="password" name="password" id="inputPassword" placeholder="&#9679;&#9679;&#9679;&#9679;&#9679;" required>
				</div>

				<input
				type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

				<div id="check">
  					   <label for="remember_me">Se souvenir de moi</label>
					   <input type="checkbox" id="remember_me" class="ml-2" name="_remember_me"/>
				</div>

				{% if error %}
					<div class="has-text-centered">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
				{% endif %}

				<div class="mt-4 mb-3 has-text-centered">

					<button type="submit">
						Se connecter
					</button>
				</div>

			</form>
			{% if app.user %}
				<div class="mt-6 has-text-centered">
					Vous êtes connecté avec
					{{ app.user.lastName }},
					<a href="{{ path('app_logout') }}" class="fontGrey fontGreyHover">Déconnexion</a>
				</div>

			{% else %}
				<h2 class="mt-6 has-text-centered">Pas de compte ?
					<a href="{{ path('app_register') }}" class="fontGrey fontGreyHover pl-1">S'inscrire</span>
				</h2>
			{% endif %}


		</div>

	</section>
{% endblock %}
