{% extends 'base.html.twig' %}

{% block title %}Dates Courtes
{% endblock %}

{% block body %}

	{% include "partials/header.html.twig" %}

	{% include "partials/nav.html.twig" %}

	<section id="home">
		<h1 class="has-text-centered mt-6 is-size-6-mobile is-size-4">
			<strong>Dates courtes</strong>
			permet de gérer en direct ses prochaines péremptions !</h1>


		<div class="columns is-mobile my-5 ">
			{% for message in app.flashes('notice') %}
				<div class="flash-notice column is-10 is-offset-1 py-4 is-size-6-mobile is-size-5 has-text-centered">
					{{ message }}
				</div>
			{% endfor %}
		</div>
		<hr>
		<div class="has-text-centered my-3 add-product is-size-6-mobile is-size-5 has-text-weight-bold">
			<a href="{{path('product_add')}}">Ajouter un produit
				<i class="fas fa-plus-circle"></i>
			</a>
		</div>
		<hr>

		<table class="table is-hoverable mt-4 mb-6">
			<caption class="is-size-6-mobile is-size-5 mb-5">Rayon : les 20 prochaines dates courtes</caption>
			<thead>
				<tr>
					<th>Rayon</th>
					<th>Produit</th>
					<th>Date</th>
					<th>Suppr</th>
				</tr>
			</thead>

			<tbody class="content">

				{% for rayon in rayons %}
					{% if (app.user and app.user == rayon.user) and (rayon.reserve == false) %}

							<tr>
								<td>{{rayon.rayon}}</td>
								<td>{{rayon.title}}
									<a href="{{path('product_show', { id : rayon.id })}}" class="pl-1">
										<i class="fas fa-search"></i>
									</a>
								</td>
								<td class="rayons">{{rayon.date | date('d/m/Y') }}</td>
								<td class="has-text-centered">
									<a href="{{path('product_clear', { id : rayon.id })}}">
										<i class="fas fa-trash-alt"></i>
									</a>
								</td>
							</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>

		<hr>

		<table class="table is-hoverable mt-4 mb-6">
			<caption class="is-size-6-mobile is-size-5 mb-5">Réserve : les prochaines dates courtes</caption>
			<thead>
				<tr>
					<th>Rayon</th>
					<th>Produit</th>
					<th>Date</th>
					<th>Suppr</th>
				</tr>
			</thead>

			<tbody class="content">

				{% for reserve in reserves %}
					{% if (app.user and app.user == reserve.user) and (reserve.reserve == true) %}
						<tr>
							<td>{{reserve.rayon}}</td>
							<td>{{reserve.title}}
								<a href="{{path('product_show', { id : reserve.id })}}" class="pl-1">
									<i class="fas fa-search"></i>
								</a>
							</td>
							<td class="reserves">{{reserve.date | date('d/m/Y') }}</td>
							<td class="has-text-centered">
								<a href="{{path('product_clear', { id : reserve.id })}}">
									<i class="fas fa-trash-alt"></i>
								</a>
							</td>
						</tr>
					{% endif %}
				{% endfor %}
			</tbody>
		</table>
	</section>

	{% block footer %}
		{% include "partials/footer.html.twig" %}
	{% endblock %}

	{% block javascripts %}
		{{ encore_entry_script_tags('js/dates') }}
	{% endblock %}

{% endblock %}
