<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>

		<link rel="manifest" href="manifest.json">
		<link rel="apple-touch-icon" sizes="120x120" href="apple-touch-icon.png">
		<link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
		<link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
		<meta name="msapplication-TileColor" content="#da532c">
		<meta name="theme-color" content="#ffffff">


		<link rel="icon" href="{{ asset('img/clock.png') }}"/>
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
		<link href="https://fonts.googleapis.com/css2?family=Lato:wght@100;400;700&display=swap" rel="stylesheet">
		<script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
		{{ encore_entry_link_tags('css/app') }}

		{% block stylesheets %}{% endblock %}
	</head>
		<script>
		console.log("Emotion : ");


    // enregistre le script sw avec les navigateurs qui le gèrent
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('sw.js', { scope: '../' }).then(() => {
        console.log('Service Worker enregistré correctement.');
        console.log(':)')
      }).catch(error => {
        console.log('Erreur lors de l\'enregistrement du Service Worker : ', error);
        console.log(':/')
      });
    }
    else { // exemple erreur possible => site pas en https 
      console.log(":'(");
    }
		</script>
	<body>
		{% block header %}{% endblock %}
		{% block body %}{% endblock %}

		{% block javascripts %}
				{{ encore_entry_script_tags('js/script') }}
		{% endblock %}

	</body>
</html>
